body {
  height           : 100%;
  background-color : grey;
  font-family      : 'Architects Daughter',
                     cursive;
}

button,
input {
  font-family : 'Architects Daughter',
                cursive;
}

button:hover {
  background-color : white;
  cursor           : pointer;
}

p {
  margin : 0;
}

header {
  display         : flex;
  justify-content : center;
}

textarea {
  margin : 4px 0;
  border : 1px lightgrey solid;
  resize : none;
}

.dropdown-wrapper {
  display         : flex;
  justify-content : center;
}

.add-new-item-wrapper {
  display         : flex;
  border          : 1px grey solid;
  flex-direction  : column;
  justify-content : center;
}

.new-item-form {
  display         : flex;
  width           : 40%;
  margin          : auto;
  padding         : 16px;
  border          : 2px lightgrey solid;
  justify-content : center;
}

.name-input,
.reason-input {
  display : block;
  width   : 183px;
}

.reason-input {
  height : 40px;
}

.btn-wrapper {
  display         : flex;
  justify-content : space-around;
}

.btn {
  width            : 116px;
  height           : 30px;
  margin           : 6px auto;
  border           : 2px orange solid;
  border-radius    : 20px 20px;
  background-color : transparent;
}

.garage-div {
  display         : flex;
  flex-wrap       : wrap;
  justify-content : space-around;
}

.garage-items {
  display        : flex;
  width          : 100%;
  text-align     : center;
  align-items    : center;
  flex-direction : column;
}

.status {
  width : 100%;
}

.garage {
  display          : inline-flex;
  width            : 80%;
  height           : 400px;
  clear            : both;
  border           : 2px black solid;
  background-color : white;
  align-items      : center;
  flex-direction   : column;
}

.item-info-section {
  box-sizing : border-box;
  width      : 18.8%;
  height     : 400px;
  float      : right;
  padding    : 4px;
  border     : 2px black solid;
}

.item {
  width      : 94%;
  border     : 1px lightgrey solid;
  text-align : center;
}

.item:hover{
  cursor: pointer;
}

.edit-cleanliness {
  border-top : 1px lightgrey solid;
}
